/* Import Inter from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f2f2;
  font-family: 'Inter', sans-serif;
  font-size:medium;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Ant Design overrides */
.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-table,
.ant-menu,
.ant-form,
.ant-card,
.ant-form-item-label > label,
.ant-table-thead,
.ant-table-tbody,
.ant-input-number-input::placeholder {
  font-family: 'Inter', sans-serif !important;
}

.ant-input::placeholder,
.ant-picker-input input::placeholder,
.ant-input-number-input::placeholder {
  color: gray !important;
}

/* Table header styling */
.custom-firm-table .ant-table-thead > tr > th {
  background-color: #1E2E45 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

/* Hover effect for rows */
.custom-firm-table .ant-table-tbody > tr:hover > td {
  background-color: #f5f7fa !important;
}

/* Center pagination */
.custom-firm-table .ant-pagination {
  justify-content: center;
}

/* Dark mode overrides */
.dark .confirmation-modal .ant-modal-content,
.dark .role-management-modal .ant-modal-content, 
.dark .assign-role-modal .ant-modal-content,
.dark .firm-status-modal .ant-modal-content, 
.dark .view-firms-modal .ant-modal-content,
.dark .assign-lawyer-modal .ant-modal-content,
.dark .view-permissions-modal .ant-modal-content{
  background-color: #1E293B !important;
  border: none !important;
  opacity: 1;
}

.ant-input::placeholder {
  color: #9ca3af !important; /* your desired color */
  opacity: 1; /* ensure it’s fully visible */
}

.ant-select-selection-placeholder {
  color: #9ca3af !important;
  font-size: medium !important;
  align-items: center !important;
  display: flex !important;
  align-items: center !important;   
}

.ant-modal-content {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12) !important;
}
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.1) !important;
}